.coach{
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 14px;
  border: 1px solid #e8e8e8;
  .avatar{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 71px;
    max-width: 30%;
    height: inherit;
    padding: 5px;
    overflow: hidden;
    img{
      margin: 0 auto;
      width: auto;
      height: 98%;
    }
  }
  .coachIntroduce{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 69%;
    height: 100px;
    margin-right: 1%;
    float: right;
    p:nth-child(1){
      margin-top: 5px;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      font-family: "Adobe 黑体 Std R";
    }
    p:nth-child(2){
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
@media screen and (max-width: 370px) {
  .coachIntroduce{
    p:nth-child(1){
      font-size: 16px;
    }
    p:nth-child(2){
      font-size: 14px;
    }
  }
}
