.box{
  margin-bottom: 55px;
  background: #f5f5f5;
  .reservationRecord{
    background-color: white;
    margin-top: 5px;
    padding: 10px 15px;
    color: #999999;
    font-size: .9em;
    text-align: right;
    .recordHeader{
      height: 40px;
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;
      .headerLeft{
        display: inline-table;
        float: left;
        min-width: 5em;
        max-width: 40%;
        text-align:justify;
        text-align-last:justify;
        font:400 13.3333px Arial;
        line-height: 40px;
      }
      .headerRight{
        display: inline-table;
        font-size: 1.7em;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.65);
      }
    }
    .bodyItem{
      margin-top: 15px;
      height: 28px;
      font-size: 1.2em;
      span:nth-child(1){
        display: inline-block;
        width: 30%;
        text-align: left;
        line-height: 28px;
        float: left;
      }
      span:nth-child(2){
        display: inline-block;
        width: 70%;
        line-height: 28px;
        float: right;
      }
    }
  }
  :global(.weui-cells) {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 370px) {

}
